* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color:rgb(200,200,200);
  height:120vh;
}
.App h1 {
  margin-bottom: 10px;
  color:rgb(240,240,240);
  background:linear-gradient(to right bottom, rgb(59,59,49), rgba(3, 3, 3, 1));
  display: inline-block;
  font-weight: 300;
  padding: 2px 20px;
  border-radius: 5px;
}
body{
  font-family: 'Roboto', sans-serif;
}

.card-display{
  
  background: linear-gradient(to right,
   rgba(66,126,38, 1), rgb(79, 160, 44));
  width: 80%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 5px 0px 20px 0px;
  border-radius: 300px;
  border: 20px solid rgb(31,27,24);
  box-shadow: 0 10px 30px rgb(33,33,33);
  

}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:20px 100px;
  
}
.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.board-card {
  border: 1px solid grey;
  min-width:150px;
  height:229px;
}
.hand-card {
  border: 1px solid grey;
  width:150px;
  height:229px;
}
.card-image{
  width:150px;
  height:229px;
}
.controls-display{
  background:linear-gradient(to right bottom, rgb(49,49,39), rgba(3, 3, 3, 1));
  width: 60%;
  min-width: 800px;
  margin: 0 auto;
  padding: 5px 0px 20px 0px;
  margin-top: 20px;
  border-radius: 7px;
}

.controls-button{
  background-color: white;
  padding: 15px 32px;
  border: 2px solid grey;
  border-radius:5px;
  box-shadow: 0 15px 30px rgba(2,2,2, .4);
  margin: 5px;
  transition: all .2s;
  font-size: 20px;

}
.controls-button:hover{
  transform: translateY(-3px);
}
.controls-button:active{
  transform: translateY(-1px);
}

.hand-complete{
  background-color: white;
  padding: 15px 16px;
  border: 1px solid grey;
}
.results {
  color: rgb(220,220,220);
  font-size:32px;
  margin-top:20px;

}
